name: Metrics
on:
  # 00:00 KST (UTC 15:00)
  schedule:
    - cron: "0 15 * * *"
  workflow_dispatch:
  push:
    branches: ["master", "main"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          
          user: SHIKA-gfx
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Seoul
          
          filename: github-metrics.svg